<header>
  <nav class="headerfooter navbar navbar-expand-lg navbar-dark montserrat ">

    <!-- Logo -->
    <img class="navbar-brand h-25 d-inline-block" style="width:4%;" src="/bitfit-logo.png" alt="BITFIT"></img>
        

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <% if(active != null) {%>
    <div class="collapse navbar-collapse" id="navbarText">
        
        <ul class="navbar-nav mr-auto">

          <li><a href="/users" class="nav-link <% if (active === "Korisnici") { %> active <% } %>"><span class="fas fa-user"></span><span class="link"> Korisnici</span></a></li>
          <li><a href="/terms" class="nav-link <% if (active === "Termini") { %> active <% } %>"><span class="fas fa-clock"></span><span class="link"> Termini</span></a></li>
          <li><a href="/coaches" class="nav-link <% if (active === "Voditelji") { %> active <% } %>"><span class="fas fa-user-ninja"></span><span class="link"> Voditelji</span></a></li>
          <li><a href="/extras" class="nav-link <% if (active === "Ostalo") { %> active <% } %>"><span class="fas fa-star"></span><span class="link"> Ostalo</span></a></li>
          <%  if(adminflag) { %>
             <li><a href="/employees" class="nav-link <% if (active === "Zaposlenici") { %> active <% } %>"><span class="fas fa-user-cog"></span><span class="link"> Zaposlenici</span></a></li>
            <li><a href="/stats" class="nav-link <% if (active === "Statistika") { %> active <% } %>"><span class="fas fa-chart-bar"></span><span class="link"> Statistika</span></a></li>
          <% } %>
        </ul>
    
    
    <span class="navbar-text">
            
            <div><p><b><%= zaposlenik %> (<a href="/logout">Odjava</a></b>) </p></div>
          </span>

    </div>
    <% } %>

  </nav>
</header>

            

