<% if(success != null){ %>

  <br>
  <div style="margin-right:20px; margin-left: 20px; background-color: rgba(36, 116, 255, 0.5);" class="alert text-center fade-in" role="alert">
    <%= success %>
  </div>

<% } %>
