<!DOCTYPE html>

<html>

<head>
  <title>
    <%= title %>
  </title>
  <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="/css/customstyles.css" rel="stylesheet" type="text/css">
  <link href="/css/normalize.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/93da46f4e1.js" crossorigin="anonymous"></script>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<body class="bg-light">

  <!-- Header -->
  <%- include('./partials/header.ejs') %>

  <!-- Error Partial -->
  <%- include('./partials/error.ejs') %>

  <!-- Success Partial -->
  <%- include('./partials/success.ejs') %>

    <div class="mainPart">


        <!-- Kod za ovaj pogled -->

        <br>

        <h4 class="textColor montserrat">DETALJI O VODITELJU: <strong><%= voditelj.imeosoba %> <%= voditelj.prezimeosoba %></strong></h4>
        <br>
        <h5 style="font-size: 19px;" class="textColor montserrat">E-Mail: <strong><%= voditelj.emailosoba %></strong></h5>
        <h5 style="font-size: 19px" class="textColor montserrat">OIB: <strong><%= voditelj.oibosoba %></strong></h5>
        <h5 style="font-size: 19px" class="textColor montserrat">Datum rođenja: <strong><%= voditelj.datumrodenjaosoba %></strong></h5>
        <% if(voditelj.zavrsenkif == 1){ %>  <h5 style="font-size: 19px" class="textColor montserrat">Kineziološki fakultet: <strong>Da</strong></h5> <% } %>
        <% if(voditelj.zavrsenkif == 0){ %>  <h5 style="font-size: 19px" class="textColor montserrat">Kineziološki fakultet: <strong>Ne</strong></h5> <% } %>
        <br>
        <h4 class="textColor montserrat">POPIS TRENINGA</h4>
        <h6 class="textColor montserrat">Prikaz: Zadnjih 10</h6>
        <br>

        
        <table class="table table-striped table-hover textColor montserrat">
          <thead class="thead-white primary">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Trening ID</th>
              <th scope="col">Početak treninga</th>
              <th scope="col">Kraj treninga</th>
              <th scope="col">Intenzitet treninga</th>
              <th scope="col">Vrsta treninga</th>
              <th scope="col">Broj korisnika</th>
              <th scope="col">Lokacija</th>
            </tr>
          </thead>

          <tbody>

          <% for(var term of termini) { %>
            <tr>
              <td>&nbsp;<%= term.idtermin %></td>
              <td>&nbsp;<%= term.datum %></td>
              <td>&nbsp;<%= term.vrijemepocetak %></td>
              <td>&nbsp;<%= term.vrijemezavrsetak %></td>
              <td>&nbsp;<%= term.nazivintenzitet %></td>
              <td>&nbsp;<%= term.nazivvrsta %></td>
              <td>&nbsp;<%= term.brojclanova %> / <%= term.maxbrojclanova %></td>
              <td>&nbsp;<%= term.nazivlokacija %></td>


        <% } %>
            
         
          </tbody>
        </table>


        <br>

          <h4 class="textColor montserrat">POPIS PROGRAMA OSPOSOBLJAVANJA </h4>  
          <br>


         <table class="table table-striped table-hover textColor montserrat">
          <thead class="thead-white primary">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Naziv programa</th>
              <th scope="col">Datum završetka</th>
              <th scope="col" class="text-right">Funkcije</th>
            </tr>
          </thead>

          <tbody>
          <% var i=1 %>
          <% for(var program of programi) { %>
            
              <tr>
              <td>&nbsp;<%= i %></td>
              <td>&nbsp;<%= program.nazivprogram %></td>
              <td>&nbsp;<%= program.datumzavrsetka %></td>
                          <td class="text-right">
              <div class="btn-group">
                <form action="/coaches/removeCertificate" method="POST">
                  <input type="hidden" name="coachid" id="coachid" value=<%=program.idvoditelj%>>
                  <input type="hidden" name="programid" id="programid" value=<%=program.idprogram%>>
                  <button type="submit" class="btn-sm btn-primary btn-danger delete"><i
                          class="fas fa-trash"></i></button>
                </form>
                &nbsp;
              </div>
            </td>

              </tr>
          <% i++ %>
          <% } %>
            
         
          </tbody>
        </table>

        <br><br><br><br>

      <!-- Footer -->
      <%- include('./partials/footer.ejs') %>

  <script>

$("tr:not(:first-child)").each(function (index ) {
   $(this).css('animation-delay',index *0.15 +'s');
});  
  </script>
</body>

</html>