<!DOCTYPE html>

<html>
  <head>
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/css/customstyles.css" rel="stylesheet" type="text/css">
    <link href="/css/normalize.css" rel="stylesheet" type="text/css">
    <script href="/js/dropdown.js"></script>
    <script src="https://kit.fontawesome.com/93da46f4e1.js" crossorigin="anonymous"></script>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>


  <body class="bg-light">

    <!-- Header -->
    <%- include('./partials/header.ejs') %>

    <!-- Error partial -->
    <%- include('./partials/error.ejs') %>

    <!-- Success partial -->
    <%- include('./partials/success.ejs') %>


    <div class="mainPart">

    <!-- Kod za ovaj view -->
    


    
    <br><h4 class="textColor montserrat">UNOS NOVOG <strong>VODITELJA</strong></h4>
    <br><br>
    <h5 class="textColor montserrat">Dodaj iz postojećih korisnika</h5>
    <form class="textcolor montserrat" action="/coaches/addFromExistingMembers" method="POST">
    <div style="display: flex;" >
    <select name="personid",id="personid" style="margin-left: 10px; width: 30%; height: 35px;" class="form-select form-select-sm textcolor montserrat" aria-label="Odabir korisnika">
        <option value="0" class="textcolor" selected>Odabir korisnika</option>

        <% for(var korisnik of korisnici) { %>
          <option value=<%= korisnik.idosoba %>> <%= korisnik.imeosoba %> <%= korisnik.prezimeosoba %></option>
        <% } %>

     </select>
  
    <div style="padding-left: 10px; height: 35px;" class="btn-group" role="group" aria-label="Završen kif?">
        <input name="zavrsenkif" id="zavrsenkif" type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
        <label class="btn btn-primary textcolor montserrat checkbox" for="btncheck1">Završen kif</label>
    </div>

    <button type="submit" 
              class="btn-sm btn-primary montserrat primaryBtn"
              style="height: 35px">

              <i class="fas fa-plus-circle"></i>
              &nbsp;&nbsp;Dodaj&nbsp;&nbsp;
      </button>
    </div>
    </form>
 
    <br><br>
    <h5 class="textColor montserrat"> Dodaj novog voditelja</h5>

    <form style="width: 45%; margin-left: 10px;" class="textcolor montserrat"  action="/coaches/addNewCoach" method="POST">
    <div class="input-group input-group">
        <span style="height: 35px" class="input-group-text spanStyle">Ime i prezime</span>
        <input style="height: 35px" type="text" aria-label="First name" class="form-control" id="first_name" name="first_name">
        <input style="height: 35px" type="text" aria-label="Last name" class="form-control" id="last_name" name="last_name">
    </div>  
    <br>
    <div class="input-group">
        <span style="height: 35px" class="input-group-text spanStyle">OIB</span>
        <input style="height: 35px" type="text" aria-label="OIB" class="form-control" id="oib" name="oib">

    <div style="padding-left: 10px" class="btn-group" role="group" aria-label="Završen kif?">
        <input style="height: 35px" name="zavrsenkif",id="zavrsenkif" type="checkbox" class="btn-check checkbox" id="btncheck2" autocomplete="off">
     <label style="height: 35px" class="btn btn-primary textcolor montserrat checkbox" for="btncheck2">Završen kif</label>
    </div>
    <br>
    </div> 
  <br>
    
    <div class="input-group">
            <span style="height: 35px" class="input-group-text spanStyle">Datum rođenja</span>
            <input style="height: 35px" id="date_of_birth" name="date_of_birth" class="form-control input-lg js-date--west" type="text" placeholder="dd.mm.yyyy.">
       
          </div>
     <br>
    <div class="input-group ">
        <span style="height: 35px" class="input-group-text spanStyle">E-Mail i Lozinka</span>
        <input style="height: 35px" type="text" aria-label="E-Mail" class="form-control" id="email" name="email">
        <input style="height: 35px" type="password" aria-label="Password" class="form-control" id="password" name="password">
    </div>  

    <br>

    <button type="submit" 
              class="btn-sm btn-primary montserrat secondaryBtn">

              <i class="fas fa-plus-circle"></i>
              &nbsp;&nbsp;Dodaj&nbsp;&nbsp;
      </button>
    </div>
    </form>
    

      <br><br><br>
    <!-- Footer -->
    <%- include('./partials/footer.ejs') %>

    </body>
</html>
