<!DOCTYPE html>

<html>
<head>
  <title>
    <%= title %>
  </title>
  <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="/css/customstyles.css" rel="stylesheet" type="text/css">
  <link href="/css/normalize.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/93da46f4e1.js" crossorigin="anonymous"></script>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>



  <body class="bg-light">

    <!-- Header -->
    <%- include('./partials/header.ejs') %>

    <!-- Error partial -->
    <%- include('./partials/error.ejs') %>

    <!-- Success partial -->
    <%- include('./partials/success.ejs') %>


    <div class="mainPart">

    <!-- Kod za ovaj pogled -->

    <br>
    <div style="display: flex">
      <h4 class="textColor montserrat">POPIS <strong>VODITELJA</strong></h4>
      
      <form class="form" action="/coaches/insert" method="GET">

        <button type="submit"
                class="btn-sm btn-primary montserrat primaryBtn">

                <i class="fas fa-plus-circle"></i>
                &nbsp;&nbsp;Novi voditelj&nbsp;&nbsp;
        </button>
                 
      </form>

        <button type="submit" data-toggle="modal" data-target="#coachInfoModal" class="btn-sm btn-primary montserrat primaryBtn" style="background-color: #315ad6;">
          <i class="fas fa-info"></i>&nbsp;&nbsp;Detalji o voditelju&nbsp;&nbsp;
        </button>
      </div>


      

<!-- Modal -->
<div class="modal fade" id="coachInfoModal" tabindex="-1" role="dialog" aria-labelledby="User Info Modal" aria-hidden="true">
  <div class="modal-dialog" role="document" style="width: 20em">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title montserrat textColor" id="modalLabel">Informacije o <strong>voditelju</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/coaches/info" method="POST">
      <div class="modal-body" style="display: flex; height: 40px">
        <label class="montserrat textColor" style="line-height: 30px">Unesite ID voditelja: &nbsp;</label>
        <input name="coachid" id="coachid" type="text" class="form-control" style="height: 30px; width: 50%"></input>
      </div>
      <br>
      <div class="modal-footer">
        <button type="button" class="btn-sm btn-secondary " data-dismiss="modal"><i class="fas fa-times-circle"></i> Odustani</button>
        <button type="submit" class="btn-sm btn-primary secondaryBtn"><i class="fas fa-search"></i> Pretraži</button>
      </div>
      </form>
    </div>
  </div>
</div>

    </div>

    <br>

    <form action="" method="POST">
      
      <table class="table table-striped table-hover textColor montserrat">
        <thead class="thead-white primary">
          <tr>
            <th scope="col">#</th>
            <th scope="col">E-Mail</th>
            <th scope="col">Ime</th>
            <th scope="col">Prezime</th>
            <th scope="col">Datum Rođenja</th>
            <th scope="col">OIB</th>
            <th scope="col">Završen KIF</th>
            <th scope="col" class="text-right">Funkcije</th> 
          </tr>
        </thead>

        <tbody>

          <!-- Hidden (Zbog bug-a oko formi) -->
          <form class="d-none" action="" method="POST">
           <button type="submit" class="d-none"></button>
          </form>

            <% for(var voditelj of voditelji) { %>
            <tr>
              <td>&nbsp;<%=voditelj.idvoditelj%></td>
              <td>&nbsp;<%=voditelj.emailosoba%></td>
              <td>&nbsp;<%=voditelj.imeosoba%></td>
              <td>&nbsp;<%=voditelj.prezimeosoba%></td>
              <td>&nbsp;<%=voditelj.datumrodenjaosoba%></td>
              <td>&nbsp;<%=voditelj.oibosoba%></td>
              <% if(voditelj.zavrsenkif == 1){ %><td>&nbsp;Da</td> <% } %>
              <% if(voditelj.zavrsenkif == 0){ %><td>&nbsp;Ne</td> <% } %>
              <td class="text-right">
                <div class="btn-group">
                  <form action="/coaches/removeCoach" method="POST">
                    <input type="hidden" name="coachid" id="coachid" value=<%=voditelj.idvoditelj%>>
                    <input type="hidden" name="personid" id="personid" value=<%=voditelj.idosoba%>>
                    <button type="submit" class="btn-sm btn-primary btn-danger delete"><i class="fas fa-trash"></i></button>
                  </form>
                  &nbsp;
                  <form action="/coaches/info?coachid=<%= voditelj.idvoditelj %>" method="POST">
                    <input type="hidden" name="user" id="user" value=>
                    <button type="submit" class="btn-sm btn-primary secondaryBtn"><i class="fas fa-info"></i></button>
                  </form>
                </div>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </form>

    </div>

    <!-- Footer -->
    <%- include('./partials/footer.ejs') %>

    </body>
</html>
