<!DOCTYPE html>

<html>

<head>
  <title><%= title %></title>

  <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="/css/customstyles.css" rel="stylesheet" type="text/css">
  <link href="/css/normalize.css" rel="stylesheet" type="text/css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/93da46f4e1.js" crossorigin="anonymous"></script>

  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<body class="bg-light">

  <!-- Header -->
  <%- include('./partials/header.ejs') %>

  <!-- Error Partial -->
  <%- include('./partials/error.ejs') %>

  <!-- Success Partial -->
  <%- include('./partials/success.ejs') %>

  <div class="mainPart">

    <br>

    <h4 class="textColor montserrat">POPIS <strong>ZAPOSLENIKA</strong></h4>  
    

    

    <br>
    <form action="/employees/insertEmployee" method="POST">

      <table class="table table-striped table-hover textColor montserrat">
        <thead class="thead-white primary">
          <tr>
            <th scope="col">#</th>
             <th scope="col">E-Mail</th>
            <th scope="col">Ime</th>
            <th scope="col">Prezime</th>
            <th scope="col">Datum rođenja</th>
            <th scope="col">OIB</th>
            <th scope="col">Lozinka</th>
            <th scope="col">Admin ovlasti?</th>
            <th scope="col" class="text-right">Funkcije</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td></td>
            <td><input type="text" name="email" id="email"></td>
            <td><input type="text" name="first_name" id="firstName"></td>
            <td><input type="text" name="last_name" id="lastName"></td>
            <td><input type="text" name="date_of_birth" id="dateofbirth"></td>
            <td><input type="text" name="oib" id="oib"></td>
            <td><input type="password" name="password" id="password"></td>
            <td></td>
            <td class="text-right">
              <div class="btn-group">
                <button type="submit" 
                        class="btn-sm btn-primary secondaryBtn">
                        <i class="fas fa-plus-circle"></i>
                </button>
              </div>
            </td>
          </tr>

          <!-- Hidden (Zbog bug-a oko formi) -->
          <form class="d-none" action="" method="POST">
            <button type="submit" class="d-none"></button>
          </form>

          <% for(var zaposlenik of zaposlenici) { %>
          <tr>
            <td>&nbsp;<%=zaposlenik.idzaposlenik%></td>
            <td>&nbsp;<%=zaposlenik.emailosoba%></td>
            <td>&nbsp;<%=zaposlenik.imeosoba%></td>
            <td>&nbsp;<%=zaposlenik.prezimeosoba%></td>
            <td>&nbsp;<%=zaposlenik.datumrodenjaosoba%></td>
            <td>&nbsp;<%=zaposlenik.oibosoba%></td>
            <td>&nbsp;Nije vidljivo</td>
            <td>&nbsp;<%=zaposlenik.jeadmin %></td>
            <td class="text-right">
              <div class="btn-group">

                               
                <% if(!zaposlenik.jeadmin) { %>
                <form action="/employees/promoteEmployee" method="POST">
                  <input type="hidden" name="employeeid" id="employeeid" value=<%=zaposlenik.idzaposlenik%>>
                  <button type="submit" class="btn-sm btn-primary secondaryBtn"><i
                          class="fas fa-arrow-alt-circle-up"></i></button>
                </form>
                 &nbsp;
                <% }%>
                
                <form action="/employees/removeEmployee" method="POST">
                  <input type="hidden" name="employeeid" id="employeeid" value=<%=zaposlenik.idzaposlenik%>>
                  <input type="hidden" name="personid" id="personid" value=<%=zaposlenik.idosoba%>>
                  <button type="submit" class="btn-sm btn-primary btn-danger delete"><i
                          class="fas fa-trash"></i></button>
                </form>

              </div>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </form>

    <!-- Footer -->
    <%- include('./partials/footer.ejs') %>

  <script>

$("tr:not(:first-child)").each(function (index ) {
   $(this).css('animation-delay',index *0.15 +'s');
});  
  </script>
  </body>
</html>