<!DOCTYPE html>

<html>

<head>
  <title>
    <%= title %>
  </title>
  <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="/css/customstyles.css" rel="stylesheet" type="text/css">
  <link href="/css/normalize.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/93da46f4e1.js" crossorigin="anonymous"></script>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<body class="bg-light">

  <!-- Header -->
  <%- include('./partials/header.ejs') %>

  <!-- Error Partial -->
  <%- include('./partials/error.ejs') %>

  <!-- Success Partial -->
  <%- include('./partials/success.ejs') %>

  <!-- Kod za ovaj pogled -->
  <div class="mainPart">



    <br>

    <h4 class="textColor montserrat">POPIS <strong>LOKACIJA</strong></h4>
        <br>
        <table class="table table-striped table-hover textColor montserrat">
          <thead class="thead-white primary">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Naziv</th>
              <th scope="col">Adresa</th>
              <th scope="col">Mjesto</th>
              <th scope="col">Tip lokacije</th>
              <th scope="col" class="text-right">Funkcije</th>
            </tr>
          </thead>

          <tbody>

            <!-- Hidden (Zbog bug-a oko formi) -->
            <form class="d-none" action="" method="POST">
              <button type="submit" class="d-none"></button>
            </form>

            <% for(var lokacija of lokacije) { %>
            <tr>
              <td>&nbsp;<%= lokacija.idlokacija %></td>
              <td>&nbsp;<%= lokacija.nazivlokacija %></td>
              <td>&nbsp;<%= lokacija.adresalokacija %></td>
              <td>&nbsp;<%= lokacija.pbmjesto %>, <%= lokacija.nazivmjesto %></td>
              <% if(lokacija.vanjskalokacija == 1){ %><td>&nbsp;Vanjska</td> <% } %>
              <% if(lokacija.vanjskalokacija == 0){ %><td>&nbsp;Unutarnja</td> <% } %>
              <td class="text-right">
                <form action="/extras/locationInfo" method="POST">
                  <input type="hidden" name="idlokacija" id="idlokacija" value=<%= lokacija.idlokacija %>>
                  <button type="submit" class="btn-sm btn-primary secondaryBtn"><i
                          class="fas fa-info"></i></button>
                </form>
              </td>
            </tr>
        <% } %>
          </tbody>
        </table>
        <br><br>

            <h4 class="textColor montserrat">POPIS <strong>OGRANIČENJA</strong></h4>
    </div>
        <br>
        <form action="/extras/addRestriction" method="POST">
        <table class="table table-striped table-hover textColor montserrat">
          <thead class="thead-white primary">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Naziv ograničenja</th>
              <th scope="col" class="text-right">Funkcije</th>
            </tr>
          </thead>

          <tbody>

            <tr>
              <td></td>
              <td><input type="text" name="restrictionname" id="restrictionname"></td>
              <td class="text-right">
                <div class="btn-group">
                  <button type="submit" 
                          class="btn-sm btn-primary secondaryBtn">
                          <i class="fas fa-plus-circle"></i>
                  </button>
                </div>
              </td>
            </tr>

            <!-- Hidden (Zbog bug-a oko formi) -->
            <form class="d-none" action="" method="POST">
              <button type="submit" class="d-none"></button>
            </form>


            <% for(var ogranicenje of ogranicenja) { %>
            <tr>
              <td>&nbsp;<%= ogranicenje.idogranicenje %></td>
              <td>&nbsp;<%= ogranicenje.nazivogranicenje %></td>
              <td class="text-right">
                <form action="/extras/deleteRestriction" method="POST">
                  <input type="hidden" name="restrictionid" id="restrictionid" value=<%= ogranicenje.idogranicenje %>>
                  <button type="submit" class="btn-sm btn-primary btn-danger"><i
                          class="fas fa-trash"></i></button>
                </form>
              </td>
            </tr>
        <% } %>
          </tbody>
        </table>
        </form>
        <br><br><br><br>


      <!-- Footer -->
      <%- include('./partials/footer.ejs') %>

  <script>

$("tr:not(:first-child)").each(function (index ) {
   $(this).css('animation-delay',index *0.15 +'s');
});  
  </script>
</body>

</html>