<!DOCTYPE html>

<html>

<head>
  <title><%= title %></title>

  <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="/css/customstyles.css" rel="stylesheet" type="text/css">
  <link href="/css/normalize.css" rel="stylesheet" type="text/css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/93da46f4e1.js" crossorigin="anonymous"></script>

  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<body class="bg-light">

  <!-- Header -->
  <%- include('./partials/header.ejs') %>

  <!-- Error Partial -->
  <%- include('./partials/error.ejs') %>

  <!-- Success Partial -->
  <%- include('./partials/success.ejs') %>

  <div class="mainPart">

    <div class="justify-content-center align-items-center" style="height:100px;"></div>
      <h2 class="text-center montserrat"> 
        BITFIT Aplikacija
        <br><small class="text-muted">Sustav za upravljanje BITFIT fitness centrima</small>
      </h2>
  	</div>



    </div>


        <!-- Footer -->
    <%- include('./partials/footer.ejs') %>
  </body>
</html>