<!DOCTYPE html>

<html>

<head>
  <title>
    <%= title %>
  </title>
  <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="/css/customstyles.css" rel="stylesheet" type="text/css">
  <link href="/css/normalize.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/93da46f4e1.js" crossorigin="anonymous"></script>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<body class="bg-light">

  <!-- Header -->
  <%- include('./partials/header.ejs') %>

  <!-- Error Partial -->
  <%- include('./partials/error.ejs') %>

  <!-- Success Partial -->
  <%- include('./partials/success.ejs') %>

    <div class="mainPart">


        <!-- Kod za ovaj pogled -->

        <br>

        <h4 class="textColor montserrat">DETALJI O LOKACIJI:  <strong><%= lokacija.nazivlokacija %></strong>
        <br><br>

        <h5 style="font-size: 19px" class="textColor montserrat">Adresa: <strong><%= lokacija.adresalokacija %></strong></h5>
        <h5 style="font-size: 19px" class="textColor montserrat">Mjesto: <strong><%= lokacija.nazivmjesto %></strong></h5>
        <h5 style="font-size: 19px" class="textColor montserrat">Poštanski broj: <strong><%= lokacija.pbmjesto %></strong></h5>
        <% if(lokacija.vanjskalokacija == 1){ %> <h5 style="font-size: 19px" class="textColor montserrat">Tip lokacije: <strong> Vanjska </strong></h5> <% } %>
        <% if(lokacija.vanjskalokacija == 0){ %> <h5 style="font-size: 19px" class="textColor montserrat">Tip lokacije: <strong> Unutarnja </strong></h5> <% } %>
        <br>
        <h4 class="textColor montserrat">POPIS TERMINA NA LOKACIJI</h4>
        <h6 class="textColor montserrat">Prikaz: Zadnjih 10</h6>
        <br>

        
      
           <table class="table table-striped table-hover textColor montserrat">
          <thead class="thead-white primary">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Datum treninga</th>
              <th scope="col">Početak treninga</th>
              <th scope="col">Kraj treninga</th>
              <th scope="col">Intenzitet treninga</th>
              <th scope="col">Vrsta treninga</th>
              <th scope="col">Broj korisnika</th>
              <th scope="col">Voditelj</th>
            </tr>
          </thead>

          <tbody>

          <% for(var term of terms) { %>
            <tr>
              <td>&nbsp;<%= term.idtermin %></td>
              <td>&nbsp;<%= term.datum %></td>
              <td>&nbsp;<%= term.vrijemepocetak %></td>
              <td>&nbsp;<%= term.vrijemezavrsetak %></td>
              <td>&nbsp;<%= term.nazivintenzitet %></td>
              <td>&nbsp;<%= term.nazivvrsta %></td>
              <td>&nbsp;<%= term.maxbrojclanova %></td>
              <td>&nbsp;<%= term.imeosoba %> <%= term.prezimeosoba %></td>
            </tr>


        <% } %>
            
         
          </tbody>
        </table>


    </div>

    <!-- Footer -->
    <%- include('./partials/footer.ejs') %>

    
  <script>

$("tr:not(:first-child)").each(function (index ) {
   $(this).css('animation-delay',index *0.15 +'s');
});  
  </script>
    </body>
</html>


</body>

</html>