<!DOCTYPE html>

<html>
  <head>
    <title><%= title %></title>
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/css/customstyles.css" rel="stylesheet" type="text/css">
    <link href="/css/normalize.css" rel="stylesheet" type="text/css">
    <script href="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="https://kit.fontawesome.com/93da46f4e1.js" crossorigin="anonymous"></script>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body class="bg-light">

    <!-- Header -->
    <%- include('./partials/header.ejs') %>

    <div class="mainPart monserrat textColor">
      <div class="wrapper fade-in">
        <form class="form-signin" action="/login" METHOD="POST">       
          <h4 class="form-signin-heading">PRIJAVA U SUSTAV</h4>
          <input type="text" class="form-control loginemail" id="email" name="email" placeholder="Email Address" required/>
          <br>
          <input type="password" class="form-control loginpass" id="password" name="password" placeholder="Password" required/>      
          <button class="btn btn-lg btn-primary btn-block" style="font-size: 15px; background: linear-gradient(20deg, #594EEC, #3145F5);" type="submit"><i class="fa fa-sign-in-alt"></i>&nbsp; PRIJAVA</button>   
        </form>
      </div>
    </div>

    <!-- Error Partial -->
    <div style="margin: 0px 200px">
      <%- include('./partials/error.ejs') %>
      <%- include('./partials/success.ejs') %>
    </div>
    <!-- Footer -->
    <%- include('./partials/footer.ejs') %>