<!DOCTYPE html>

<html>

<head>
  <title>
    <%= title %>
  </title>
  <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="/css/customstyles.css" rel="stylesheet" type="text/css">
  <link href="/css/normalize.css" rel="stylesheet" type="text/css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/93da46f4e1.js" crossorigin="anonymous"></script>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<body class="bg-light">

    <!-- Header -->
    <%- include('./partials/header.ejs') %>

    <div class="tcontainer"><div class="ticker-wrap"><div class="ticker-move">

        <div class="ticker-item montserrat">Korisnika u sustavu: <%= usersstats.ukkorisnika %></div>
        <div class="ticker-item montserrat">•</div>
        <div class="ticker-item montserrat">Prihod od članarina: <%= usersstats.ukclanarina %> HRK</div>
        <div class="ticker-item montserrat">•</div>
        <div class="ticker-item montserrat">Voditelja u sustavu: <%= coachstats.ukvoditelja %></div>
        <div class="ticker-item montserrat">•</div>
        <div class="ticker-item montserrat">Ukupno termina odrađeno: <%= coachstats.uktermina %></div>
    </div></div></div>

    <!-- Error Partial -->
    <%- include('./partials/error.ejs') %>

    <!-- Success Partial -->
    <%- include('./partials/success.ejs') %>

    <!-- Kod za ovaj pogled -->
    <div class="statMainPart">

        
        <div class="stat1">
        <br>
        <h4 class="textColor montserrat">BROJ <strong>REZERVACIJA PO MJESECIMA</strong></h4>  
        <h6 class="textColor montserrat">Prikaz: Tekuća godina</h6> 
        <br>

<canvas id="myChart" style="width: 10%; height: 10%;"></canvas>  
<br>
<br>


        </div>
        <div class="stat2">

        <h5 class="textColor montserrat" style="padding-left: 10px">NAJAKTIVNIJI <strong>KORISNICI</strong></h5>
        <h6 class="montserrat textColor" style="padding-left: 10px">Prikaz: Od vrha prema dnu</h6>
        <table class="table table-striped table-bordered  table-hover textColor montserrat" style="margin: 0 15px">
        <thead class="thead-white primary">
          <tr>
            <th scope="col">#</th>
             <th scope="col">Korisnik</th>
            <th scope="col">Broj rezervacija</th>
            <th scope="col">Broj dolazaka</th>
          </tr>
        </thead>

        <tbody>
        <% for(var user of mostactiveusers){ %>
            <tr>
            <td><%= user.idkorisnik %></td>
            <td><%= user.imeosoba %> <%= user.prezimeosoba %></td>
            <td><%= user.brrezerviranih %></td>
            <td><%= user.brodradenih %></td>
            </tr>
        <% } %>

        </tbody>
        </table>
        </div>
        <div class="stat3" style="margin: 0 15px">
        <div style="display: flex">
        <h5 class="textColor montserrat">NAJAKTIVNIJI <strong>VODITELJI</strong>&nbsp;&nbsp;</h5>
        <% if(direction == "ASC") { %> <a href="/stats"><i class="fa fa-arrow-down" style="color: #4e4e4e"></i></a> <% } %>
        <%  if(direction == "DESC") { %> <a href="/stats?statsDir=1"><i class="fa fa-arrow-up" style="color: #4e4e4e"></i></a> <% } %>
        </div>
        <% if(direction == "DESC") { %> <h6 class="montserrat textColor">Prikaz: Od vrha prema dnu</h6> <% } %>
        <% if(direction == "ASC") { %> <h6 class="montserrat textColor">Prikaz: Od dna prema vrhu</h6> <% } %>
        <table class="table table-bordered table-striped table-hover textColor montserrat">
        <thead class="thead-white primary">
          <tr>
            <th scope="col">#</th>
             <th scope="col">Voditelj</th>
            <th scope="col">Broj treninga</th>
            <th scope="col">Prosj. dolaznost</th>
          </tr>
        </thead>

        <tbody>
        <% for(var coach of mostactivecoaches){ %>
            <tr>
            <td><%= coach.idvoditelj %></td>
            <td><%= coach.imeosoba %> <%= coach.prezimeosoba %></td>
            <td><%= coach.brtreninga %></td>
            <td><%= coach.prosjdolaznost %> korisnik/termin</td>
            </tr>
        <% } %>

        </tbody>
        </table>





        </div>
        <div class="stat4"></div>

    </div>


    <!-- Footer -->
    <%- include('./partials/footer.ejs') %>

<script>
    $("tr:not(:first-child)").each(function (index ) {
        $(this).css('animation-delay',index *0.15 +'s');
    }); 



    let myChart = document.getElementById('myChart').getContext('2d');

    // Global Options
    Chart.defaults.global.defaultFontFamily = 'ArchivoNarrow';
    Chart.defaults.global.defaultFontSize = 16;
    Chart.defaults.global.defaultFontColor = '#4e4e4e';

    let massPopChart = new Chart(myChart, {
      type:'line', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
      data:{
        labels:['Siječanj', 'Veljača', 'Ožujak', 'Travanj', 'Svibanj', 'Lipanj', 'Srpanj', 'Kolovoz', 'Rujan', 'Listopad', 'Studeni', 'Prosinac'],
        datasets:[{

          data: <%-JSON.stringify(reservationsdata)%>,

          backgroundColor:'rgba(58, 41, 242, 0.6)',

          borderWidth:1,
          borderColor:'#777',
          hoverBorderWidth:2,
          hoverBorderColor:'#000'
        }]
      },
      options:{

        legend:{
          display:false,


        },
        layout:{
          padding:{
            left:50,
            right:50,
            bottom:0,
            top:0
          }
        },
        tooltips:{
          enabled:true
        }
      }
    });

</script>

</body>

</html>