<!DOCTYPE html>

<html>

<head>
  <title><%= title %></title>
  <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="/css/customstyles.css" rel="stylesheet" type="text/css">
  <link href="/css/normalize.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/93da46f4e1.js" crossorigin="anonymous"></script>
  

  <meta http-equiv="content-type" content="text/html; charset=utf-8"  />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

</head>


<body class="bg-light">

  <!-- Header -->
  <%- include('./partials/header.ejs') %>

  <!-- Error Partial -->
  <%- include('./partials/error.ejs') %>

  <!-- Success Partial -->
  <%- include('./partials/success.ejs') %>

  <!-- Kod za ovaj view -->
  <div class="mainPart">

    <br>
   
    <div style="display: flex">

      <h4 class="textColor montserrat">POPIS <strong><%= heading %></strong></h4>

      <form action="/terms/insert" method="GET" class="form">
        <button type="submit" class="btn-sm btn-primary montserrat primaryBtn" style="background-color: #315ad6;">
          <i class="fas fa-plus-circle"></i>&nbsp;&nbsp;Novi termin&nbsp;&nbsp;
        </button>
      </form>

      <form action="/terms/finished" method="GET" class="form">
        <button type="submit" class="btn-sm btn-primary btn-danger montserrat">
          <i class="fas fa-times-circle"></i>&nbsp;&nbsp;Završeni termini&nbsp;&nbsp;
        </button>
      </form>

    </div>
    
        <br>
        <table class="table table-striped table-hover textColor montserrat">
          <thead class="thead-white primary">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Datum</th>
              <th scope="col">Vrijeme početka</th>
              <th scope="col">Vrijeme završetka</th>
              <th scope="col">Lokacija</th>
              <th scope="col">Rezervacija</th>
              <th scope="col">Voditelj</th>
              <th scope="col">Intenzitet</th>
              <th scope="col">Vrsta</th>
              <th scope="col" class="text-right">Funkcije</th>
            </tr>
          </thead>

          <tbody>




            <% for(var term of termini) { %>
            <tr>
              <td>&nbsp;<%= term.idtermin %></td>
              <td>&nbsp;<%= term.datum %></td>
              <td>&nbsp;<%= term.vrijemepocetak %></td>
              <td>&nbsp;<%= term.vrijemezavrsetak %></td>
              <td>&nbsp;<%= term.nazivlokacija %></td>
              <td>&nbsp;<%= term.brojclanova %> / <%= term.maxbrojclanova %></td>
              <td>&nbsp;<%= term.imeosoba %> <%= term.prezimeosoba %></td>
              <td>&nbsp;<%= term.nazivintenzitet %></td>
              <td>&nbsp;<%= term.nazivvrsta %></td>

              <td class="text-right">
                <div class="btn-group">
                  <form action="/terms/removeTerm" method="POST">
                    <input type="hidden" name="termid" id="termid" value=<%= term.idtermin %>>
                    <button type="submit" class="btn-sm btn-primary btn-danger delete"><i
                        class="fas fa-trash"></i></button>
                  </form>
                  &nbsp;
                  <form action="/terms/info" method="POST">
                    <input type="hidden" name="termid" id="termid" value=<%= term.idtermin %>>
                    <button type="submit" class="btn-sm btn-primary secondaryBtn"><i
                        class="fas fa-info"></i></button>
                  </form>
                </div>
              </td>
            </tr>
        <% } %>
          </tbody>
        </table>
      <br><br>

      <!-- Footer -->
      <%- include('./partials/footer.ejs') %>

  <script>

$("tr:not(:first-child)").each(function (index ) {
   $(this).css('animation-delay',index *0.15 +'s');
});  
  </script>
</body>

</html>