<!DOCTYPE html>

<html>
  <head>
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/css/customstyles.css" rel="stylesheet" type="text/css">
    

    <link href="/css/normalize.css" rel="stylesheet" type="text/css">
    <script href="/js/dropdown.js"></script>
    <script src="https://kit.fontawesome.com/93da46f4e1.js" crossorigin="anonymous"></script>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>


  </head>


  <body class="bg-light">

    <!-- Header -->
    <%- include('./partials/header.ejs') %>

    <!-- Error partial -->
    <%- include('./partials/error.ejs') %>

    <!-- Success partial -->
    <%- include('./partials/success.ejs') %>


    <div class="mainPart">

    <!-- Kod za ovaj view -->
  
    <form action="/terms/insert" method="POST">

    
    <br><h4 class="textColor montserrat">UNOS NOVOG <strong>TERMINA</strong></h4><br>
    
      

    
    <label style="margin-left: 10px;" class="textColor montserrat"> Voditelj</label>
    <select name="idvoditelj",id="idvoditelj" style="margin-left: 10px; width: 30%; height: 35px;" class="form-select form-select-sm textcolor montserrat" aria-label="Odabir korisnika">
      <option value="0" class="textcolor" selected>Odaberite voditelja</option>
      <% for(var voditelj of voditelji) { %>
        <option value=<%= voditelj.idvoditelj %>> <%= voditelj.imeosoba %> <%= voditelj.prezimeosoba %></option>
      <% } %>
     </select>

    <br>

     <div class="formgroup form-row" style="width: 48%; ">

      <div class="form-group col-md-6 ">
      <label style="margin-left:10px" class="textColor montserrat"> Lokacija</label>
      <select name="idlokacija",id="idlokacija" style="margin-left: 10px; width: 100%; height: 35px;" class="form-select form-select-sm textcolor montserrat" aria-label="Odabir korisnika">
        <option value="0" class="textcolor" selected>Odaberite lokaciju</option>
        <% for(var lokacija of lokacije) { %>
          <option value=<%= lokacija.idlokacija %>> <%= lokacija.nazivlokacija %></option>
        <% } %>
      </select></div>
      <div class="form-group col-md-6">
      <label style="margin-left: 30px;" class="textColor montserrat"> Br. članova</label>
      <input style="margin-left: 30px; height: 35px; width: 20%;" type="text" aria-label="maxcl" class="form-control" id="maxcl" name="maxcl">
    </div>
    </div>

    <br>

    <div class="formgroup" style="width: 30%">

      <div class="tableCell">

      <label style="margin-left:10px" class="textColor montserrat"> Vrsta treninga</label>
      <select name="idvrsta",id="idvrsta" style="margin-left: 10px; width: 85%; height: 35px;" class="form-select form-select-sm textcolor montserrat" aria-label="Odabir korisnika">
        <option value="0" class="textcolor" selected>Odaberite</option>
        <% for(var vrsta of vrstetreninga) { %>
          <option value=<%= vrsta.idvrsta %>> <%= vrsta.nazivvrsta %></option>
        <% } %>
      </select>

      </div>

      

      <div class="tableCell">

      <label  style="margin-left:10px" class="textColor montserrat"> Intenzitet</label>
      <select name="idintenzitet",id="idintenzitet" style="margin-left: 10px; width: 100%; height: 35px;" class="form-select form-select-sm textcolor montserrat" aria-label="Odabir korisnika">
        <option value="0" class="textcolor" selected>Odaberite</option>
        <% for(var intenzitet of intenziteti) { %>
          <option value=<%= intenzitet.idintenzitet %>> <%= intenzitet.nazivintenzitet %></option>
        <% } %>
      </select>
      </div>

    </div>    

<br>  

    <div class="formgroup" style="margin-left: 10px; width: 33.5%">

      <div class="tableCell">
        <label class="textColor montserrat"> Vrijeme početka</label>
        <div style=" width: auto; height: 40px;"class="md-form md-outline">
          <input type="time" id="default-picker" class="form-control" placeholder="Vrijeme završetka" id="termstart" name="termstart">
        </div>  
      </div>
      &nbsp;&nbsp;&nbsp;
      <div class="tableCell">
        <label class="textColor montserrat"> Vrijeme završetka</label>
        <div style=" width: auto; height: 40px;" class="md-form md-outline">
          <input type="time" id="default-picker" class="form-control" placeholder="Vrijeme početka" id="termend" name="termend">
        </div> 
      </div>

      <div class="tableCell">
        <label style="margin-left: 15px" class="textColor montserrat"> Datum termina</label>
        <div class="col-10" style="width: auto;">
          <input class="form-control" type="date" value="2021-01-01" id="termdate" name="termdate">
        </div>  
      </div>
  </div>
    <br>
    <div class="row">
    <div class="col-sm-1"><label style="margin-left: 10px; margin-top: 8px;" class="textColor montserrat"> Ograničenja: </label></div>
    <div class="col-sm-3">
    <select class="selectpicker textColor montserrat  form-control" name="ogranicenja" id="ogranicenja" multiple data-selected-text-format="count > 1">
      <% for(var ogranicenje of ogranicenja) { %>
          <option value=<%= ogranicenje.idogranicenje %>> <%= ogranicenje.nazivogranicenje %></option>
        <% } %>
    </select>
    </div></div>
<br>


<br>
  

    <button type="submit" 
            class="btn-sm btn-primary montserrat primaryBtn"
            style="background-color: #315ad6; height: 50%;">
            <i class="fas fa-plus-circle"></i>
            &nbsp;&nbsp;Unesi termin&nbsp;&nbsp;
    </button>

    </form>

    <!-- Footer -->
    <%- include('./partials/footer.ejs') %>

    <br><br><br>


    </body>

 


</html>



 


