<!DOCTYPE html>

<html>

<head>
  <title>
    <%= title %>
  </title>
  <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="/css/customstyles.css" rel="stylesheet" type="text/css">
  <link href="/css/normalize.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/93da46f4e1.js" crossorigin="anonymous"></script>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<body class="bg-light">

  <!-- Header -->
  <%- include('./partials/header.ejs') %>

  <!-- Error Partial -->
  <%- include('./partials/error.ejs') %>

  <!-- Success Partial -->
  <%- include('./partials/success.ejs') %>

    <div class="mainPart">


        <!-- Kod za ovaj pogled -->

        <br>

        <h4 class="textColor montserrat">DETALJI O TERMINU:  <strong><%= term.idtermin %></strong>
        <br><br>

        <h5 style="font-size: 19px" class="textColor montserrat">Datum: <strong><%= term.datum %></strong></h5>
        <h5 style="font-size: 19px" class="textColor montserrat">Vrijeme početka: <strong><%= term.vrijemepocetak %></strong></h5>
        <h5 style="font-size: 19px" class="textColor montserrat">Vrijeme završetka: <strong><%= term.vrijemezavrsetak %></strong></h5>
        <h5 style="font-size: 19px" class="textColor montserrat">Lokacija: <strong><%= term.nazivlokacija %></strong></h5>
        <h5 style="font-size: 19px" class="textColor montserrat">Vrsta treninga: <strong><%= term.nazivvrsta %></strong></h5> 
        <h5 style="font-size: 19px" class="textColor montserrat">Voditelj: <strong><%= term.imeosoba %> <%= term.prezimeosoba %></strong></h5> 
        <h5 style="font-size: 19px" class="textColor montserrat">Intenzitet: <strong><%= term.nazivintenzitet %></strong></h5>
        <h5 style="font-size: 19px" class="textColor montserrat">Rezervacija: <strong><%= term.maxbrojclanova %></strong></h5>
        <h5 style="font-size: 19px" class="textColor montserrat">Preporuke:
         <% for(var ogranicenje of ogranicenja) { %>
              <strong><label>&nbsp;<%= ogranicenje.nazivogranicenje %>; </label></strong>
        <% } %>

        <br>
        </h5>


        <h4 class="textColor montserrat">POPIS KORISNIKA</h4>
        <br>

        
        <table class="table table-striped table-hover textColor montserrat">
          <thead class="thead-white primary">
            <tr>
              <th scope="col">Korisnik ID</th>
              <th scope="col">Ime korisnika</th>
              <th scope="col">Prezime korisnika</th>
              <th scope="col">Vrijeme rezervacije</th>
              <th scope="col">Prisutan</th>
            </tr>
          </thead>

          <tbody>
             <% for(var korisnik of korisnici) { %>
            <tr>
              <td>&nbsp;<%= korisnik.idkorisnik %></td>
              <td>&nbsp;<%= korisnik.imeosoba %></td>
              <td>&nbsp;<%= korisnik.prezimeosoba %></td>
              <td>&nbsp;<%= korisnik.vrijemerezervacija %></td>
              <td>&nbsp;<%= korisnik.statusdolaska %></td>
            </tr>
             <% } %>

         
          </tbody>
        </table>

        <br><br><br><br>

      <!-- Footer -->
      <%- include('./partials/footer.ejs') %>

  <script>

$("tr:not(:first-child)").each(function (index ) {
   $(this).css('animation-delay',index *0.15 +'s');
});  
  </script>
</body>

</html>