<!DOCTYPE html>

<html>

<head>
  <title><%= title %></title>

  <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="/css/customstyles.css" rel="stylesheet" type="text/css">
  <link href="/css/normalize.css" rel="stylesheet" type="text/css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/93da46f4e1.js" crossorigin="anonymous"></script>

  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<body class="bg-light">

  <!-- Header -->
  <%- include('./partials/header.ejs') %>

  <!-- Error Partial -->
  <%- include('./partials/error.ejs') %>

  <!-- Success Partial -->
  <%- include('./partials/success.ejs') %>

  <div class="mainPart">

    <br>
    <div style="display: flex">
      <h4 class="textColor montserrat">POPIS <strong>KORISNIKA</strong></h4>  
      <button type="submit" data-toggle="modal" data-target="#userInfoModal" class="btn-sm btn-primary montserrat primaryBtn" style="background-color: #315ad6;">
        <i class="fas fa-info"></i>&nbsp;&nbsp;Detalji o korisniku&nbsp;&nbsp;
      </button>
    </div>

    <!-- Modal for user search -->
    <div class="modal fade" id="userInfoModal" tabindex="-1" role="dialog" aria-labelledby="User Info Modal" aria-hidden="true">
      <div class="modal-dialog" role="document" style="width: 20em">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title montserrat textColor" id="exampleModalLabel">Informacije o <strong>korisniku</strong></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="/users/info" method="POST">
            <div class="modal-body" style="display: flex; height: 40px">
              <label class="montserrat textColor" style="line-height: 30px">Unesite ID korisnika: &nbsp;</label>
              <input name="userid" id="userid" type="text" class="form-control" style="height: 30px; width: 50%"></input>
            </div>
            <br>
            <div class="modal-footer">
              <button type="button" class="btn-sm btn-secondary " data-dismiss="modal"><i class="fas fa-times-circle"></i> Odustani</button>
              <button type="submit" class="btn-sm btn-primary secondaryBtn "><i class="fas fa-search"></i> Pretraži</button>
            </div>
          </form>
         </div>
      </div>
    </div>

    <br>
    <form action="/users/insertUser" method="POST">

      <table class="table table-striped table-hover textColor montserrat">
        <thead class="thead-white primary">
          <tr>
            <th scope="col">#</th>
             <th scope="col">E-Mail</th>
            <th scope="col">Ime</th>
            <th scope="col">Prezime</th>
            <th scope="col">Datum rođenja</th>
            <th scope="col">OIB</th>
            <th scope="col">Lozinka</th>
            <th scope="col">Istek članarine</th>
            <th scope="col" class="text-right">Funkcije</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td></td>
            <td><input type="text" name="email" id="email"></td>
            <td><input type="text" name="first_name" id="firstName"></td>
            <td><input type="text" name="last_name" id="lastName"></td>
            <td><input type="text" name="date_of_birth" id="dateofbirth"></td>
            <td><input type="text" name="oib" id="oib"></td>
            <td><input type="password" name="password" id="password"></td>
            <td></td>
            <td class="text-right">
              <div class="btn-group">
                <button type="submit" 
                        class="btn-sm btn-primary secondaryBtn">
                        <i class="fas fa-plus-circle"></i>
                </button>
              </div>
            </td>
          </tr>

          <!-- Hidden (Zbog bug-a oko formi) -->
          <form class="d-none" action="" method="POST">
            <button type="submit" class="d-none"></button>
          </form>

          <% for(var korisnik of korisnici) { %>
          <tr>
            <td>&nbsp;<%=korisnik.idkorisnik%></td>
            <td>&nbsp;<%=korisnik.emailosoba%></td>
            <td>&nbsp;<%=korisnik.imeosoba%></td>
            <td>&nbsp;<%=korisnik.prezimeosoba%></td>
            <td>&nbsp;<%=korisnik.datumrodenjaosoba%></td>
            <td>&nbsp;<%=korisnik.oibosoba%></td>
            <td>&nbsp;Nije vidljivo</td>
            <td>&nbsp;<%=korisnik.istekclanarina %></td>
            <td class="text-right">
              <div class="btn-group">
                <form action="/users/removeUser" method="POST">
                  <input type="hidden" name="userid" id="userid" value=<%=korisnik.idkorisnik%>>
                  <input type="hidden" name="personid" id="personid" value=<%=korisnik.idosoba%>>
                  <button type="submit" class="btn-sm btn-primary btn-danger delete"><i
                          class="fas fa-trash"></i></button>
                </form>
                &nbsp;
                <form action="/users/info?userid=<%=korisnik.idkorisnik%>" method="POST">
                  <input type="hidden" name="userid" id="userid" value=<%korisnik.idkorisnik%>>
                  <button type="submit" class="btn-sm btn-primary secondaryBtn"><i
                          class="fas fa-info"></i></button>
                </form>
              </div>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </form>

    <!-- Footer -->
    <%- include('./partials/footer.ejs') %>

  <script>

$("tr:not(:first-child)").each(function (index ) {
   $(this).css('animation-delay',index *0.15 +'s');
});  
  </script>
  </body>
</html>