<!DOCTYPE html>

<html>

<head>
  <title><%= title %></title>
  <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="/css/customstyles.css" rel="stylesheet" type="text/css">
  <link href="/css/normalize.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/93da46f4e1.js" crossorigin="anonymous"></script>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<body class="bg-light">

  <!-- Header -->
  <%- include('./partials/header.ejs') %>

  <!-- Error Partial -->
  <%- include('./partials/error.ejs') %>

  <!-- Success Partial -->
  <%- include('./partials/success.ejs') %>

    <div class="mainPart">


      <!-- Kod za ovaj pogled -->

      <br>
      <h4 class="textColor montserrat">DETALJI O KORISNIKU:  <strong><%= korisnik.imeosoba %> <%= korisnik.prezimeosoba %></strong></h4>
      <br>
      <h5 style="font-size: 19px;" class="textColor montserrat">E-Mail: <strong><%= korisnik.emailosoba  %></strong></h5>
      <h5 style="font-size: 19px" class="textColor montserrat">OIB: <strong><%= korisnik.oibosoba %></strong></h5>
      <h5 style="font-size: 19px" class="textColor montserrat">Datum rođenja: <strong><%= korisnik.datumrodenjaosoba %></strong></h5>
      <% if(clanarine != null){ %><h5 style="font-size: 19px" class="textColor montserrat">Istek članarine: <strong> <%= clanarine[0].vrijemeistekaclanarina %></strong></h5> <% } %>
      <% if(clanarine == null){ %><h5 style="font-size: 19px" class="textColor montserrat">Istek članarine: <strong> Nema podataka</strong></h5> <% } %>
      <br>
      <% if(korisnik.visinakorisnik != null){ %><h5 style="font-size: 19px" class="textColor montserrat">Visina: <strong><%= korisnik.visinakorisnik %> cm</strong></h5> <% } %>
      <% if(korisnik.tezinakorisnik != null){ %><h5 style="font-size: 19px" class="textColor montserrat">Težina: <strong><%= korisnik.tezinakorisnik %> kg</strong></h5> <% } %>
      <br>
      <br>
      <div style="display: flex">
        <h4 class="textColor montserrat">POPIS ČLANARINA</h4>
        <form action="/users/extendMonthlyMembership" class="form" method="POST">
          <input name="userid" id="userid" type="hidden" value=<%= korisnik.idkorisnik %>>
          <button type="submit" 
            class="btn-sm btn-primary montserrat primaryBtn">
            <i class="fas fa-plus-circle"></i>
            &nbsp;&nbsp;Produži članarinu&nbsp;&nbsp;
          </button>
        </form>
      </div>

      <h6 class="textColor montserrat">Prikaz: Zadnjih 10</h6>
      <br>

      <table class="table table-striped table-hover textColor montserrat">
        <thead class="thead-white primary">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Datum plaćanja</th>
          <th scope="col">Datum isteka</th>
          <th scope="col">Propušteni dolasci</th>
          <th scope="col">Cijena članarine</th>
          <th scope="col" class="text-right">Funkcije</th>
        </tr>
      </thead>

      <tbody>
            
        <% if(clanarine != null) for(var clanarina of clanarine)  { %>
        <tr>
          <td>&nbsp; <%= clanarina.idclanarina %></td>
          <td>&nbsp;<%= clanarina.vrijemeplacanjaclanarina %></td>
          <td>&nbsp;<%= clanarina.vrijemeistekaclanarina %></td>
          <td>&nbsp;<%= clanarina.propustenidolasci %></td>
          <td>&nbsp;<%= clanarina.cijenaclanarina %> HRK</td>
          <td class="text-right">
            <div class="btn-group">
              <form action="/users/removeMonthlyMembership" method="POST">
                <input type="hidden" name="membershipid" id="membershipid" value=<%= clanarina.idclanarina %>>
                <input type="hidden" name="userid" id="userid" value=<%= korisnik.idkorisnik %>>
                <button type="submit" class="btn-sm btn-primary btn-danger delete"><i class="fas fa-trash"></i></button>
              </form>
            </div>
          </td>
        </tr>
        <% } %>
         
      </tbody>

      </table>

        <br>
        <h4 class="textColor montserrat">POPIS PRISUTNOSTI</h4>
        <h6 class="textColor montserrat">Prikaz: Zadnjih 10</h6>
        <br>
        <table class="table table-striped table-hover textColor montserrat">
          <thead class="thead-white primary">
            <tr>
              <th scope="col">Trening ID</th>
              <th scope="col">Datum treninga</th>
              <th scope="col">Vrijeme rezervacije</th>
              <th scope="col">Vrsta treninga</th>
              <th scope="col">Intenzitet treninga</th>
              <th scope="col">Status dolaska</th>
              <th scope="col">Lokacija</th>
            </tr>
          </thead>

          <tbody>  

            <% for(var term of treninzi) { %>
            <tr>
              <td>&nbsp;<%= term.idtermin %></td>
              <td>&nbsp;<%= term.datum %></td>
              <td>&nbsp;<%= term.vrijemerezervacija %></td>
              <td>&nbsp;<%= term.nazivvrsta %></td>
              <td>&nbsp;<%= term.nazivintenzitet %></td>
              
              <% if(term.statusdolaska == 1){ %><td>&nbsp;Da</td> <% } %>
              <% if(term.statusdolaska == 0){ %><td>&nbsp;Ne</td> <% } %>
              <td>&nbsp;<%= term.nazivlokacija %></td>


        <% } %>
          </tbody>
        </table>

        <br><br><br><br>

      <!-- Footer -->
      <%- include('./partials/footer.ejs') %>

  <script>

$("tr:not(:first-child)").each(function (index ) {
   $(this).css('animation-delay',index *0.15 +'s');
});  
  </script>
  </body>

</html>