body::-webkit-scrollbar {
  display:none;
}
 

.headerfooter{

    background: linear-gradient(20deg, #3c31d6, #320ae2);
    height: minmax(100px, 20%);
}


strong{

    font-family: 'ArchivoNarrowSemiBold';
    font-weight: normal;    
}

.table {
     width: 100%;
     max-width: 100%;
     margin-bottom: 1rem;
     background-color: transparent
 }

 * {
     outline: none
 }

 .table th,
 .table thead th {
     font-weight: 500
 }

 .table thead th {
     vertical-align: bottom;
     border-bottom: 2px solid #dee2e6
 }


 .table th {
     padding: 1rem;
     vertical-align: top;
     border-top: 1px solid #dee2e6
 }

 .table th,
 .table thead th {
     font-weight: 500
 }

 th {
     text-align: inherit
 }


h4, h5, h6, p, option, select, input{
    
    margin-left: 10px;
}

.form
{
        margin-left: 15px;
    height: 50%;

}


.fade-in {

  font-family: Arial, Helvetica, sans-serif;
  animation: fadeIn linear 0.1s;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
 tr:not(:first-child){    
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  
  to {
    opacity: 1;
  }
}

.primaryBtn{

    background: linear-gradient(20deg, #3a2cd7, #320ae2);
    margin-left: 15px;
    height: 50%;
}

.secondaryBtn{

    background: linear-gradient(20deg, #3a2cd7, #320ae2);
}

.checkbox{

  color: #3a2cd7;
  background-color: transparent;
  border-color: #1500f8;
  margin-bottom: 0;
}

.formPadding{

    padding-bottom: 2rem;

}

/* OUTER CONTAINER */
.tcontainer {
  width: 100%;
  overflow: hidden; /* Hide scroll bar */
}
 
/* MIDDLE CONTAINER */
.ticker-wrap {
  width: 100%;
  padding-left: 100%; /* Push contents to right side of screen */
  background-color: #3a2cd7;
}

/* INNER CONTAINER */
@keyframes ticker {
  0% { transform: translate3d(0, 0, 0); }
  100% { transform: translate3d(-270%, 0, 0); }
}
.ticker-move {
  /* Basically move items from right side of screen to left in infinite loop */
  display: inline-block;
  white-space: nowrap;
  padding-right: 100%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: ticker;
  animation-duration: 30s;
}
.ticker-move:hover{
  animation-play-state: paused; /* Pause scroll on mouse hover */
}


/* ITEMS */
.ticker-item{
  display: inline-block; /* Lay items in a horizontal line */
  padding: 0 1rem;
  color: white;
}

.statMainPart {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.8fr 0.8fr 1.4fr;
  gap: 0px 20px;
  grid-template-areas:
    "stat1 stat1"
    "stat1 stat1"
    "stat2 stat3"
}
.stat1 {grid-area: stat1; }
.stat2 {grid-area: stat2; }
.stat3 {grid-area: stat3; }




.spanStyle{

    background-color: #3a2cd7;
    color: white;
}
.wrapper {  
  margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  font-size: 14px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  
}

  .form-signin-heading {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
  }

  .form-control {
    position: relative;
    font-size: 14px;
    height: auto;
    padding: 10px;
  }

.tableCell{

    display: table-cell;
}

.formgroup{

    display: table;


}

  .loginemail {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

 .loginpass {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
















@font-face {
    font-family: 'ArchivoNarrowSemiBold';
    src: url('../ArchivoNarrow-SemiBold.ttf');
    
   

} 


@font-face {
    font-family: 'ArchivoNarrow';
    src: url('../ArchivoNarrow-Regular.ttf');
    
   

} 

.montserrat{

    font-family: 'ArchivoNarrow';
    
}


.textColor{
    font-weight: 5;
    color:  #4e4e4e;
}




 
